@mixin sm {
  @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
    @content;
  }
}

@include sm {
  // app-bar ------------------------------------
  .app-bar {
    height: 64 !important;
    .spacer+ul {
      display: none;
    }
    .logo-slogan {
      position: absolute;
      top: 5px;
      left: 75px;
      &+img {
        width: 200px;
        right: 80px;
        bottom: 14px !important;
      }
    }
  }
  .account-outline {
    display: none !important;
  }
  .v-toolbar__content {
    display: block;
    background: #c4a66f;
  }
  // menu-sm -----------------------------------
  #menu-sm {
    display: block !important;
    .menu-sm-icon {
      left: 850px !important;
      top: 730px !important;
    }
  }
  #home {
    h1 {
      margin-top: -80px !important;
      font-size: 4rem;
    }
    .banner {
      background: url(../assets/shou-ye-banner.png) no-repeat top/170% 100%;
    }
    #target {
      line-height: 1.5;
      font-size: 40px;
    }
    .shan {
      width: 60%;
      margin-top: 0px;
    }
    .information {
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 120px;
      margin-left: 0;
    }
    .container {
      flex-wrap: wrap;
    }
    .box1 {
      // margin-top: 70px;
    }
    .box1,
    .box2,
    .box3,
    .box4 {
      width: 390px;
      height: 250px;
      position: static;
      left: 0;
      top: 50px;
      margin-bottom: 20px;
      margin-right: 10px;
    }
    .box1-text {
      font-size: 1.8rem;
      right: 40px;
      top: 50px;
    }
    .box1:hover,
    .box1:hover+.box2,
    .box1:hover+.box2+.box3,
    .box1:hover+.box2+.box3+.box4,
    .box2:hover,
    .box2:hover+.box3,
    .box2:hover+.box3+.box4,
    .box3:hover,
    .box3:hover+.box4,
    .box4:hover
    {
      transform: translate(0px, 0px);
    }
  }
  .footer-img {
    .cloud1, .cloud2, .cloud3 {
      width: 30%;
    }
    .cloud1 {
      bottom: 200px;
    }
    .cloud2 {
      bottom: 100px;
      left: 15%;
    }
    .cloud3 {
      bottom: 300px;
    }
  }
  // [book] --------------------------------------------
  .container {
    height: 100%;
    margin-top: 5%;
    margin-bottom: 100px;
    .col {
      display: flex;
      justify-content: center;
    }
  }
  // [my-work-page] ------------------------------------------------
  #my-work-page {
    .container {
      padding-top: 50px;
      padding-bottom: 100px;
      margin: 40px 10px 0 40px;
      width: 90vw;
    }
    p {
      width: 80%;
    }
  }
  // [question] -----------------------------
  #question {
    .container {
      width: 100%;
      margin: 0;
    }
    .list {
      width: 90%;
    }
  }
   // [store] -------------------------
   #store {
    .container {
      height: 100%;
    }
    iframe {
      width: 330px !important;
    }
    .card-text {
      margin-left: 10px !important;
    }
    a {
      bottom: 25px;
    }
  }
  // [product/:id] -----------------------------------
  #product {
    .container {
      height: 100%;
      padding-top: 30px;
      padding-bottom: 40px;
      margin: 50px 10px 0 140px;
    }
    .v-btn {
      right: 70px;
      bottom: 212px;
    }
    .price {
      width: 32%;
      margin: 10px 0px 100px 65px;
    }
    .quantity {
      left: 310px;
      bottom: 180px;
      width: 100px;
    }
    hr {
      width: 80%;
    }
    .col:first-child {
      img {
        width: 640px;
      }
    }
    .col:last-child {
      margin: 0;
    }
  }
  // [maobi] ----------------------------------------------
  #maobi {
    .container {
      padding-top: 10rem !important;
      padding-bottom: 100px;
      .row:nth-child(1) {
        margin-top: 200px;
      }
      .row:nth-child(2) {
        margin-top: 0px !important;
        width:100%;
      }
      .row:nth-child(3) {
        margin-top: 400px !important;
      }
      .row:nth-child(5) {
        margin-top: 420px !important;
      }
      .t2:nth-child(1),.t4:nth-child(1) {
        order: 2;
      }
      .t2:nth-child(2),.t4:nth-child(1) {
        order: 1;
      }
      .t5 {
        margin-top: 440px !important;
      }
    }
    .title-picture img{
      width: 60%;
    }
    .title-picture .bi {
      width: 25%;
      top: 1.5% !important;
    }
    h1 {
      font-size: 3.8rem;
    }
    h3 {
      font-size: 2.5rem;
      display: block;
    }
    img {
      width: 100%;
    }
    .title-p {
      width: 100% !important;
    }
    .col h3+p {
      width: 100% !important;
    }
    .spacer {
      display: none;
    }
  }
  // [mozhi] ----------------------------------------------
  #mozhi {
    .container {
      padding-top: 10rem !important;
      padding-bottom: 100px;
      .t2:nth-child(1),.t4:nth-child(1) {
        order: 2;
      }
      .t2:nth-child(2),.t4:nth-child(1) {
        order: 1;
      }
    }
    .title-picture img{
      width: 60%;
    }
    .title-picture .mo {
      width: 25%;
      top: 3% !important;
    }
    h1 {
      font-size: 3rem;
      &::before {
        content: '';
        bottom: -5px;
        width: 40px;
        height: 40px;
      }
    }
    h3 {
      font-size: 2.5rem;
    }
    .container .row:nth-child(1) {
      margin-top: 200px;
    }
    img {
      width: 100%;
    }
    .title-p {
      width: 100% !important;
    }
    .col h1+p {
      width: 100% !important;
    }
    .spacer {
      display: none;
    }
  }
  // [zhi] ---------------------------------
  #zhi {
    .container {
      padding-top: 10rem !important;
      padding-bottom: 100px;
      .t2:nth-child(1),.t4:nth-child(1) {
        order: 2;
      }
      .t2:nth-child(2),.t4:nth-child(1) {
        order: 1;
      }
      .t5 {
        margin-top: 440px !important;
      }
      .row:nth-child(5) {
        margin-top: 220px !important;
      }
      .row:nth-child(6) {
        margin-top: 420px !important;
      }
    }
    .title-picture img{
      width: 60%;
    }
    .title-picture .zhi {
      width: 28%;
      top: 3.5% !important;
    }
    h1 {
      font-size: 3.5rem;
      &::before {
        content: '';
        bottom: -5px;
        width: 40px;
        height: 40px;
      }
    }
    h3 {
      font-size: 2.5rem;
    }
    img {
      width: 100%;
    }
    .container .row:nth-child(1) {
      margin-top: 200px;
    }
    .col h1+p {
      width: 100% !important;
    }
    .spacer {
      display: none;
    }
  }
  // [xuexi] ---------------------------------
  #xuexi {
    .container {
      padding-top: 12rem !important;
      padding-bottom: 100px;
      .t2:nth-child(1),.t4:nth-child(1) {
        order: 2;
      }
      .t2:nth-child(2),.t4:nth-child(1) {
        order: 1;
      }
      .t5 {
        margin-top: 250px !important;
      }
      .row:nth-child(6) {
        margin-top: 370px !important;
      }
      .row:nth-child(7) {
        margin-top: 370px !important;
      }
    }
    .title-picture img{
      width: 60%;
    }
    .title-picture .zitie {
      width: 30%;
      top: 2.5% !important;
      left: 5% !important;
    }
    h1 {
      font-size: 3rem;
      &::before {
        content: '';
        bottom: -5px;
        width: 40px;
        height: 40px;
      }
    }
    h3 {
      font-size: 2.5rem;
      display: block;
    }
    img {
      width: 100%;
    }
    .container .row:nth-child(1) {
      margin-top: 200px;
    }
    .col h1+p {
      width: 100% !important;
    }
    .spacer {
      display: none;
    }
  }
  .laohu-bejing, .meihua-bejing, .yu-bejing, .zhuzi-beijing {
    width: 40% !important;
  }
  .he2, .mudan{
    width: 35% !important;
  }
  .shan2-bejing {
    width: 38% !important;
  }
  .shan-bejing, .meihua-bejing  {
    margin-top: 55px;
    width: 42.7% !important;
  }
  // [shupu...] ------------------------------------
  #zixutie, #shupu, #kuaixue, #dutong,
  #huaqi, #hanshi, #nongfangshi, #shubotuquan
  {
    .container {
      height: initial;
      padding-left: 200px;
    }
    h1 {
      font-size:4.2rem;
    }
    hr {
      width: 100%;
    }
    .hongyun, .hongyun2 {
      display: none;
    }
    .swiper {
      bottom: 0% !important;
      height: initial;
    }
    .swiper-slide {
      height: initial !important;
    }
    img {
      width: 100%;
    }
    .swiper-button-prev, .swiper-button-next,
    .swiper-button-prev2, .swiper-button-next2 {
      // color: var(--accent) !important;
      background: none;
      height: 100px;
    }
    .swiper-button-prev::after, .swiper-button-next::after {
      display: block;
      color: var(--primary);
      position: absolute;
      bottom: 200px;
    }
  }
  #kuaixue {
    h1 {
      font-size:4.2rem;
    }
  }
  #dutong, #huaqi {
    img {
      height: initial !important;
      margin-bottom: -6px;
    }
    .bg {
      height: initial;
    }
  }
  #dutong {
    .container {
      padding-left: 270px;
    }
  }
  #hanshi {
    .container {
      padding-left: 250px;
    }
  }
  #hanshi {
    h1 {
      font-size: 3.6rem;
    }
    h3 {
      font-size: 2.4rem;
    }
  }
  // [admin..] --------------------------------------
  #users, #admin-order, #admin-product, #adminQ {
    .v-data-table {
      width: 100%;
    }
    .container {
      margin-bottom: 160px;
    }
    h1+a {
      margin-left: 270px;
    }
    a {
      display: inline-block;
      margin-top: -10px;
      margin-right: 10px;
      margin-bottom: 10px;
      color: var(--accent);
      background: var(--primary);
      padding: 5px 10px;
      border: 1.5px solid var(--primary);
      border-radius: 18px;
      transition: 0.5s;
      &:hover {
        border: 1.5px solid var(--primary);
        background: var(--accent);
        color: var(--primary);
        transition: 0.5s;
      }
    }
  }
  #admin-product, #adminQ {
    .plus {
      bottom: 35px !important;
      right: 100px !important;
      width: 55px !important;
      height: 55px !important;
    }
  }
  .v-dialog {
    box-shadow: none !important;
  }
  .form-container {
    height: 550px !important;
  }
  // [dashboard] ------------------
  #users-info {
    .left-info {
      width: 70vw;
    }
    h1.pl-5 {
      font-size: 3rem;
    }
    .container {
      margin-top: 10px;
      height: initial;
    }
  }
  #users-info, #cart, #order, #user-works {
    width: 100vw;
    .container {
      margin-bottom: 160px;
    }
    .v-data-table {
      width: 90%;
    }
    .v-data-table__mobile-row__cell {
      width: 280px !important;
    }
    h1+a {
      margin-left: 270px;
    }

    a {
      display: inline-block;
      margin-top: -10px;
      margin-right: 10px;
      margin-bottom: 10px;
      color: var(--accent);
      background: var(--primary);
      padding: 5px 10px;
      border: 1.5px solid var(--primary);
      border-radius: 18px;
      transition: 0.5s;
      &:hover {
        border: 1.5px solid var(--primary);
        background: var(--accent);
        color: var(--primary);
        transition: 0.5s;
      }
    }
    .plus {
      bottom: 120px !important;
      right: 20px !important;
      width: 55px !important;
      height: 55px !important;
    }
  }
  #cart {
    .go-cart {
      right: 20px !important;
      bottom: 150px !important;
    }
  }
  .form-container {
    width: 380px !important;
  }
  .img-inputer {
    width: 350px !important;
  }
}