@mixin xs {
  @media (max-width: $breakpoint-xs) {
    @content;
  }
}

@mixin lg {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}

@include xs {
  // app-bar ------------------------------------
  .app-bar {
    height: 64 !important;
    .spacer+ul {
      display: none;
    }
    .logo-slogan {
      position: absolute;
      top: 5px;
      left: 75px;
      &+img {
        width: 200px;
        right: 80px;
        bottom: 14px !important;
      }
    }
  }

  .v-toolbar__content {
    display: block;
    background: #c4a66f;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.322);
  }
  // menu-sm -----------------------------------
  #menu-sm {
    display: block !important;
    .menu-sm-icon {
      left: 410px !important;
      top: 750px !important;
    }
  }
  // [app] footer-img---------------------------
  .footer-img {
    height: 10%;
  }
  .subheading {
    width: 100%;
    padding-left: 20px;
  }

  // [home] -------------------------------------
  #home {
    h1 {
      margin-top: -80px !important;
      font-size: 4rem;
    }
    .banner {
      background: url(../assets/shou-ye-banner.png) no-repeat top/170% 100%;
    }
    #target {
      line-height: 1.5;
      font-size: 28px;
    }
    .shan {
      width: 80%;
      margin-top: 150px;
    }
    .information {
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 120px;
      margin-left: 0;
    }
    .container {
      flex-wrap: wrap;
    }
    .box1 {
      margin-top: 70px;
    }
    .box1,
    .box2,
    .box3,
    .box4 {
      width: 300px;
      height: 170px;
      position: static;
      left: 0;
      top: 50px;
      margin-bottom: 20px;
    }
    .box1-text {
      font-size: 1.4rem;
      right: 40px;
      top: 30px;
    }
  }
  .footer-img {
    .cloud1, .cloud2, .cloud3 {
      width: 30%;
    }
    .cloud1 {
      bottom: 200px;
    }
    .cloud2 {
      bottom: 100px;
      left: 15%;
    }
    .cloud3 {
      bottom: 300px;
    }
  }
  // [maobi] ---------------------------------
  #maobi {
    #router-ink2 {
      top: 6% !important;
    }
    .container {
      padding-top: 13rem !important;
      .row:nth-child(1) {
        margin-top: 200px;
      }
      .row:nth-child(2) {
        margin-top: 0px !important;
        width:100%;
      }
      .row:nth-child(3) {
        margin-top: 400px !important;
      }
      .row:nth-child(5) {
        margin-top: 420px !important;
      }
      .t2:nth-child(1),.t4:nth-child(1) {
        order: 2;
      }
      .t2:nth-child(2),.t4:nth-child(1) {
        order: 1;
      }
      .t5 {
        margin-top: 440px !important;
      }
    }
    .title-picture img{
      width: 69%;
    }
    .title-picture .bi {
      width: 30%;
      top: 1% !important;
    }
    h1 {
      font-size: 3.5rem;
    }
    h3 {
      font-size: 2.5rem;
      display: block;
    }
    img {
      width: 100%;
    }
    .title-p {
      width: 87% !important;
    }
    .col h3+p {
      width: 100% !important;
    }
    .spacer {
      display: none;
    }
  }

// [mozhi] ---------------------------------
  #mozhi {
    #router-ink2 {
      top: 7% !important;
    }
    .container {
      padding-top: 10rem !important;
      .t2:nth-child(1),.t4:nth-child(1) {
        order: 2;
      }
      .t2:nth-child(2),.t4:nth-child(1) {
        order: 1;
      }
    }
    .title-picture img{
      width: 69%;
    }
    .title-picture .mo {
      width: 30%;
      top: 1.5% !important;
    }
    h1 {
      font-size: 3rem;
      &::before {
        content: '';
        bottom: -5px;
        width: 40px;
        height: 40px;
      }
    }
    h3 {
      font-size: 2.5rem;
    }
    .container .row:nth-child(1) {
      margin-top: 200px;
    }
    img {
      width: 100%;
    }
    .col h1+p {
      width: 100% !important;
    }
    .spacer {
      display: none;
    }
  }
// [zhi] ---------------------------------
  #zhi {
    #router-ink2 {
      top: 10% !important;
    }
    .container {
      padding-top: 10rem !important;
      .t2:nth-child(1),.t4:nth-child(1) {
        order: 2;
      }
      .t2:nth-child(2),.t4:nth-child(1) {
        order: 1;
      }
      .t5 {
        margin-top: 440px !important;
      }
      .row:nth-child(5) {
        margin-top: 220px !important;
      }
      .row:nth-child(6) {
        margin-top: 420px !important;
      }
    }
    .title-picture img{
      width: 69%;
    }
    .title-picture .zhi {
      width: 30%;
      top: 1.5% !important;
    }
    h1 {
      font-size: 3.5rem;
      &::before {
        content: '';
        bottom: -5px;
        width: 40px;
        height: 40px;
      }
    }
    h3 {
      font-size: 2.5rem;
    }
    img {
      width: 100%;
    }
    .container .row:nth-child(1) {
      margin-top: 200px;
    }
    .col h1+p {
      width: 100% !important;
    }
    .spacer {
      display: none;
    }
  }
// [xuexi] ---------------------------------
  #xuexi {
    #router-ink2 {
      top: 7% !important;
    }
    .container {
      padding-top: 10rem !important;
      .t2:nth-child(1),.t4:nth-child(1) {
        order: 2;
      }
      .t2:nth-child(2),.t4:nth-child(1) {
        order: 1;
      }
      .t5 {
        margin-top: 250px !important;
      }
      .row:nth-child(6) {
        margin-top: 370px !important;
      }
      .row:nth-child(7) {
        margin-top: 370px !important;
      }
    }
    .title-picture img{
      width: 69%;
    }
    .title-picture .zitie {
      width: 40%;
      top: 1% !important;
    }
    h1 {
      font-size: 3rem;
      &::before {
        content: '';
        bottom: -5px;
        width: 40px;
        height: 40px;
      }
    }
    h3 {
      font-size: 2.5rem;
      display: block;
    }
    img {
      width: 100%;
    }
    .container .row:nth-child(1) {
      margin-top: 200px;
    }
    .col h1+p {
      width: 100% !important;
    }
    .spacer {
      display: none;
    }
  }
  // [login] --------------------------
  #login {
    #zhuzi {
      left: 30% !important;
      width: 70% !important;
      filter: opacity(0.5);
    }
    .form-text {
      width: 70% !important;
    }
    .v-btn {
      margin: 40px 70px;
    }
    .overlay {
      height: 50% !important;
    }
  }
  // [register] --------------------------
  #register {
    #hua {
      left: 0% !important;
      bottom: 10%;
      width: 100% !important;
      filter: opacity(0.2);
    }
    .form-text {
      width: 70% !important;
      right: 13%;
    }
    .v-btn {
      margin: 40px 100px;
    }
    .overlay {
      height: 70% !important;
    }
  }
  // [book]... ---------------------------
  #book {
    .container {
      height: 100%;
      margin-top: 5%;
      margin-bottom: 100px;
      .col {
        display: flex;
        justify-content: center;
      }
    }
  }
  .he2, .laohu-bejing, .meihua-bejing, .mudan, .shan2-bejing, .shan-bejing, .yu-bejing, .zhuzi-beijing {
    display: none;
  }
  // [shupu...] -------------------------
  #zixutie, #shupu, #kuaixue, #dutong,
  #huaqi, #hanshi, #nongfangshi, #shubotuquan
  {
    .container {
      height: initial;
      padding-left: 0px;
    }
    h1 {
      font-size:4.2rem;
    }
    hr {
      width: 100%;
    }
    .hongyun, .hongyun2 {
      display: none;
    }
    .swiper {
      bottom: 0% !important;
      height: initial;
    }
    .swiper-slide {
      height: initial !important;
    }
    img {
      width: 100%;
    }
    .swiper-button-prev, .swiper-button-next,
    .swiper-button-prev2, .swiper-button-next2 {
      // color: var(--accent) !important;
      background: none;
      height: 100px;
    }
    .swiper-button-prev::after, .swiper-button-next::after {
      display: block;
      color: var(--primary);
      position: absolute;
      bottom: 200px;
    }
  }
  #kuaixue {
    h1 {
      font-size:4.2rem;
    }
  }
  #dutong, #huaqi {
    img {
      height: initial !important;
      margin-bottom: -6px;
    }
    .bg {
      height: initial;
    }
  }
  #hanshi {
    h1 {
      font-size: 3.6rem;
    }
    h3 {
      font-size: 2.4rem;
    }
  }
  // [store] -------------------------
  #store {
    iframe {
      width: 300px;
      height: 180px;
    }
    .store-box {
      flex-direction: column;
      a {
        right: 30px;
      }
    }
  }
  // [productPage]---------------------
  #product-page {
    .container {
      height: 100%;
      margin-top: 5%;
      margin-bottom: 100px;
      .col {
        display: flex;
        justify-content: center;
      }
    }
  }
  // [product/:id] ------------------
  #product {
    .container {
      height: 100%;
      padding-top: 30px;
      padding-bottom: 40px;
      margin: 50px 70px 0 70px;
    }
    .v-btn {
      right: 50px;
      bottom: 120px;
    }
    .price {
      width: 32%;
      margin: 10px 0px 100px 65px;
    }
    .quantity {
      left: 65px;
      bottom: 90px;
      width: 140px;
    }
    hr {
      width: 80%;
    }
    .col:first-child {
      img {
        width: 450px;
      }
    }
    .col:last-child {
      margin: 0 13px;
    }
  }
  // [question] -----------------
  #question {
    .container {
      width: 100%;
      margin: 0;
    }
    .list {
      width: 90%;
    }
  }
  // [my-work-page] -----------------
  #my-work-page {
    #router-ink2 {
      top: 9% !important;
    }
    .container {
      padding-top: 50px;
      width: 90vw;
      margin: 40px 40px 0 20px;
    }
    p {
      width: 80%;
    }
  }
  // [store] -------------------------
  #store {
    .container {
      height: 100%;
    }
    iframe {
      width: 330px !important;
    }
    .card-text {
      margin-left: 10px !important;
    }
    a {
      bottom: 25px;
    }
  }
  // [adminPro] ----------------------------
  #users, #admin-order, #admin-product, #adminQ {
    .v-data-table {
      width: 90%;
    }
    .container {
      margin-bottom: 160px;
    }
    h1+a {
      margin-left: 60px;
    }
    a {
      display: inline-block;
      margin-top: -10px;
      margin-right: 10px;
      margin-bottom: 10px;
      color: var(--accent);
      background: var(--primary);
      padding: 5px 10px;
      border: 1.5px solid var(--primary);
      border-radius: 18px;
      transition: 0.5s;
      &:hover {
        border: 1.5px solid var(--primary);
        background: var(--accent);
        color: var(--primary);
        transition: 0.5s;
      }
    }
  }
  #admin-product, #adminQ {
    .plus {
      bottom: 80px !important;
      right: 0 !important;
      width: 55px !important;
      height: 55px !important;
    }
    .v-data-table__mobile-row__cell {
      width: 280px !important;
    }
  }
  // [dashboard] ------------------
  #users-info {
    .left-info {
      width: 80vw;
    }
    h1.pl-5 {
      font-size: 3rem;
    }
    .container {
      margin-top: 10px;
      height: initial;
    }
  }
  #users-info, #cart, #order, #user-works {
    width: 100vw;
    .container {
      margin-bottom: 160px;
    }
    .v-data-table {
      width: 90%;
    }
    .v-data-table__mobile-row__cell {
      width: 280px !important;
    }
    h1+a {
      margin-left: 60px;
    }

    a {
      display: inline-block;
      margin-top: -10px;
      margin-right: 10px;
      margin-bottom: 10px;
      color: var(--accent);
      background: var(--primary);
      padding: 5px 10px;
      border: 1.5px solid var(--primary);
      border-radius: 18px;
      transition: 0.5s;
      &:hover {
        border: 1.5px solid var(--primary);
        background: var(--accent);
        color: var(--primary);
        transition: 0.5s;
      }
    }
    .plus {
      bottom: 80px !important;
      right: 0 !important;
      width: 55px !important;
      height: 55px !important;
    }
  }
  #cart {
    .go-cart {
      right: 20px !important;
      bottom: 80px !important;
    }
  }
  .form-container {
    width: 380px !important;
  }
  .img-inputer {
    width: 350px !important;
  }
}
