:root {
  --primary: #202938;
  --secondary: #1D2025;
  --waring: #45312A;
  --accent: #DED7B9;
  --info: #D58E40;
  --error: #7e2f28;
}

* {
	list-style: none;
	padding: 0;
	margin: 0;
}

p {
  padding: 0;
}

a {
  text-decoration: none;
}